h1 {
    background-color: blue;
    color: white;
    text-align: center;
    height: 150px;
    padding-top: 40px;
    margin: 0px 10px;
    border-radius: 10px;
}
nav {
    background-color: rgb(245, 245, 245);
    height: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px 10px;
    
}

.para {
    padding-top: 40px ;
    font-size: 15px;
    /* color: yellow; */
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}


.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 40px;
    margin: 10px 10px;
    border-radius: 10px;
}
.service{
    display: flex;
    gap: 20px;
    /* margin: 20px; */
}
img{
    border-radius: 10px;
}
/* .sub-container{
    /* padding: 10px; */
    /* margin: 20px; */
 */
h2 {
    font-size: 25px;
}
p {
    font-size: 15px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
