h1 {
    background-color: blue;
    color: white;
    text-align: center;
    height: 150px;
    padding-top: 40px;
    margin: 0px 10px;
    border-radius: 10px;
}
nav {
    background-color: rgb(245, 245, 245);
    height: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px 10px;
    
}

.para {
    padding-top: 40px ;
    font-size: 15px;
    /* color: yellow; */
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 40px;
    margin: 10px 10px;
    border-radius: 10px;
}
h2 {
    font-weight: body;
    margin: 30px 20px;
}
p {
    margin: 20px 20px;
}
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

